mixin mainbutton(buttonid,title,href)
	a.mainbutton(id=buttonid,href=href)
		h3.mainbuttontitle !{title}

mixin jsmainbutton(buttonid,title)
	.mainbutton(id=buttonid)
		h3.mainbuttontitle !{title}

mixin buildopenlakebids()
	- for(let i = 0; i < openbids.length; i+=1)
		+lakebidli(openbids[i].bidprice,openbids[i].info)

mixin lakebidli(bidprice,info)
	li.bidli
		div.bidprice
			h2 !{bidprice}
			span.bidcurrency eth
		p.biddesc !{info}

mixin buildopenlakeposts()
	- for(let i = 0; i < openposts.length; i+=1)
		if openposts[i].bestprice!=''
			+lakepostli(openposts[i].postname,true,openposts[i].bestprice)
		else
			+lakepostli(openposts[i].postname,false,'-')

mixin lakepostli(postname,hasbid,bestprice)
	if hasbid==true
		li.postli
			p !{postname}
			div.postbidprice
				h2 !{bestprice}
				span.bidcurrency eth
	else
		li.postli.postlinobid
			p !{postname}
			p.postnobid NO BID