mixin mainbutton(buttonid,title,href)
	a.mainbutton(id=buttonid,href=href)
		h3.mainbuttontitle !{title}

mixin jsmainbutton(buttonid,title,c)
	.mainbutton(id=buttonid,class=c)
		h3.mainbuttontitle !{title}

mixin requiredlabel(fieldname)
	label
		span(class="labelreq") &#x2732; 
		| !{fieldname}