mixin mainbutton(buttonid,title,href)
	a.mainbutton(id=buttonid,href=href)
		h3.mainbuttontitle !{title}

mixin lakebidli(price,txt)
	li.bidli
		div.bidprice
			h2 !{price}
			span.bidcurrency eth
		// img(src=src,alt="bid list item image")
		p.biddesc !{txt}
// img(id="lake", src="/assets/img/lake.svg", alt="Raeda Lake (supplier)")

mixin lakepostli(postname,hasbid,bestprice)
	if hasbid==true
		li.postli
			p !{postname}
			div.postbidprice
				h2 !{bestprice}
				span.bidcurrency eth
	else
		li.postli.postlinobid
			p !{postname}
			p.postnobid NO BID

mixin riverpostli(postname,river,hasbid,rivermin,bestprice)
	if hasbid==true
		tr.riverpostli
			td !{postname}
			td.toitalic by !{river}
			td.riverpostbidprice.rivermin
				div
					h2 !{rivermin}
					span.bidcurrency eth
			td.riverpostbidprice.bestbid
				div
					h2 !{bestprice}
					span.bidcurrency eth
	else
		tr.riverpostli.postlinobid
			td !{postname}
			td.toitalic by !{river}
			td.riverpostbidprice.rivermin
				div
					h2 !{rivermin}
					span.bidcurrency eth
			td.riverpostbidprice.bestbid
				div
					h2 ––
					span.bidcurrency eth