
mixin riverpostli(postid,postname,river,hasbid,rivermin,bestprice)
	- let url = "window.location.href='/post-"+postid+"'"
	if hasbid==true
		tr.riverpostli(onclick=url)
			td !{postname}
			td.toitalic by !{river}
			td.riverpostbidprice.rivermin
				div
					h2 !{rivermin}
					span.bidcurrency eth
			td.riverpostbidprice.bestbid
				div
					h2 !{bestprice}
					span.bidcurrency eth
	else
		tr.riverpostli.postlinobid(onclick=url)
			td !{postname}
			td.toitalic by !{river}
			td.riverpostbidprice.rivermin
				div
					h2 !{rivermin}
					span.bidcurrency eth
			td.riverpostbidprice.bestbid
				div
					h2 ––
					span.bidcurrency eth

table.posttable
	thead.riverpostli
		th 
		th 
		th.prices Min Price
		th.prices Best Bid
	tbody
		- for(let i = 0; i < searchresults.length; i+=1)
			if searchresults[i].bestprice!=''
				+riverpostli(searchresults[i].postid,searchresults[i].postname,searchresults[i].river,true,searchresults[i].rivermin,searchresults[i].bestprice)
			else
				+riverpostli(searchresults[i].postid,searchresults[i].postname,searchresults[i].river,false,searchresults[i].rivermin,'-')