mixin searchpostli(postid,postname,rivername,hasbid,price,bestprice)
	- let intpostid = parseInt('0x'+postid.substring(2).match(/../g).reverse().join(''));
	- let url = "window.location.href='/post-"+intpostid+"'"
	if hasbid==true
		tr.searchpostli(onclick=url)
			td.toblue !{postname}
			td.toitalic by !{rivername}
			td.searchpostbidprice.price
				div
					h2 !{price}
					span.bidcurrency wei
			td.searchpostbidprice.bestbid
				div
					h2 !{bestprice}
					span.bidcurrency wei
	else
		tr.searchpostli.postlinobid(onclick=url)
			td.toblue !{postname}
			td.toitalic by !{rivername}
			td.searchpostbidprice.price
				div
					h2 !{price}
					span.bidcurrency wei
			td.searchpostbidprice.bestbid
				div
					h2 ––
					span.bidcurrency wei

table.posttable
	thead.searchpostli
		th 
		th 
		th.prices Min Price
		th.prices Best Bid
	tbody
		if (searchresults.length)
			- for(let i = 0; i < searchresults.length; i+=1)
				if searchresults[i].bids.length>0
					+searchpostli(searchresults[i].id,searchresults[i].postName,searchresults[i].price,true,searchresults[i].price,searchresults[i].bids[0].amount)
				else
					+searchpostli(searchresults[i].id,searchresults[i].postName,searchresults[i].poster.profileName,false,searchresults[i].price,'-')
		else
			tr.searchpostli.postlinobid
				td No Results!