extends ../../templates/layout.pug

mixin lakebidonpost(bidid,biddername,bidprice,postState)
	li.bidli
		div.bidprice
			h2 !{bidprice}
			span.bidcurrency wei
		div.bidid
			p.toitalic ID
			h3.toblue !{bidid}
		div.bidendrow
			h3.toblue !{biddername}
			p.toitalic !{postState}

block content
	if found
		.area-container
			.area-row
				#postarea.area
					.posttitlerow
						.titlecontent
							h2 !{post['postName']}
							p.toitalic.toblue (post !{post['id']})
						.endrowcontent
							- if (post['postState']!=="CLOSED")
								div
									p#poststate.toblue= post['postState']
							- else
								div
									p#poststate.tored= post['postState']
							div
								- let profileurl = "/profile-"+post['poster']['profileName']
								a(id="postnamelink",href=profileurl) !{post['poster']['profileName']}
							div
								h3
									| > 
									span.toblue wei 
									| !{post['price']}
					//.minarea
					if post['description']===''
						p.toitalic.tored NO DESCRIPTION
					else
						p !{post['description']}
					#map-container
						#loc-map
					- let datetime = new Date(parseInt(post['exp'])*1000)
					.buttonrow
						div.smallbox
							p
								| !{datetime.getDate()}
								| / 
								| !{datetime.getMonth()}
								| / 
								| !{datetime.getFullYear()}
						div.smallbox
							p
								| !{datetime.getHours()}
								| :
								| !{datetime.getMinutes()}
					if (post['postState']=="LIVE")
						.buttonrow
							+mainbutton('messageposter','message','/messenger-'+post['poster']['profileName'])
							+jsmainbutton('makebid','make bid')
							+jsmainbutton('choosebid','choose bid','hide')
					else
						.buttonrow
							+jsmainbutton('closedeal','close deal','hide')
							+jsmainbutton('closedeal-opp','close deal','hide')
							+jsmainbutton('makebidexp','cannot place bid','done')
				.area
					h3 Bids
					if (post['bids'].length>0)
						- for (var i=0; i<post['bids'].length; i+=1)
							+lakebidonpost(post['bids'][i]['id'],post['bids'][i]['bidder']['profileName'],post['bids'][i]['amount'],post['postState'])
					else
						p.toitalic.toblue(style="margin-top:10px") Be the first to make a bid!
			.area-row
				#makebidarea.area.hide
					.posttitlerow
						h2 Make Bid
						+jsmainbutton('placebid','place bid')
					.textlabelfield
						label Bid Price (wei)
						input(id="makebidprice",placeholder=post['price'])
	else
		.area-container
			.area
				h2.tored Error
				p No post found with this id

block styles
	link(rel='stylesheet', href='styles/viewpost.css')

block scripts
	script(src="/js/viewpost.js",type="module")
	script.
		let postid = '!{post["id"]}';
		let bidlist = [!{bidlist}];
		let bigstartlat = !{post["iXx"]};
		let bigstartlng = !{post["iXy"]};
		let bigendlat = !{post["fXx"]};
		let bigendlng = !{post["fXy"]};